In [29]:
import numpy as np
import pandas as pd

In [30]:
# Import csv with pandas 

polling_data_df = pd.read_csv("election_data.csv")
polling_data_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [31]:
# View summary of total votes and set as a variable 

candidate_votes_df = polling_data_df["Candidate"].value_counts()
candidate_votes_df

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [32]:
# View vote percentage by candidate and set as variable  

vote_counts_df = polling_data_df["Candidate"].value_counts(normalize = True)
vote_counts_df.head()

Khan        0.63
Correy      0.20
Li          0.14
O'Tooley    0.03
Name: Candidate, dtype: float64

In [33]:
# Find the total number of votes in the dataset

total_votes_df = len(polling_data_df)
total_votes_df

3521001

In [34]:
# Find candidate winner and set as a variable 

winner_votes = candidate_votes_df.max(axis = 0)
winner_votes

2218231

In [35]:
# Create dataframe to display voting results 

voting_results_df = pd.DataFrame({"Khan": [2218231, '63%'],
                                  "Correy": [704200, '20%'],
                                  "Li": [492940, '14%'],
                                  "O'Tooley": [105630, '3%'],
                                  "Total Votes": [3521001, '100%'],
                                  "-": ["-", "-"],
                                  "Winner": ['Khan', winner_votes]
                                  })

final_df = voting_results_df.rename(index = {0: "Votes", 1: "Percent"})
final_df

            Khan  Correy      Li O'Tooley Total Votes  -   Winner
Votes    2218231  704200  492940   105630     3521001  -     Khan
Percent      63%     20%     14%       3%        100%  -  2218231